*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    word-spacing: 1.5px;
    font-weight: 900;
}

body{
    background-color: #a3c9c7;
}

/*============HEADER============*/
.header{
    margin: 10px auto;
    width: 100%;
}

h1{
    color: #0E0004;
}

p{
    margin: 0 auto;
    display: block;
    width: 175px;
}

.heading-1{
    margin: 10px auto;
    text-align: center;
}

.clear-button, .choose-button{
    margin: 15px auto;
    outline: none;
    text-align: center;
}

.clear-button button{
    position: relative;
    right: -99px;
    top: 17px;
}

.choose-button button{
    width: 150px;
    position: relative;
    top: -28px;
    right: 117px;
}

button{
    background-color: rgba(240, 239, 244, 0.678);
    height: 30px;
    width: 110px;
    border: 0.5px solid rgba(240, 239, 244, 0.329);
    border-radius: 15px;
    outline: none;
    color: black;
}

button:hover, button:active{
    background-color: rgba(240, 239, 244, 0.801);
    color: rgb(46, 16, 8);
    transition: 0.5s;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    border: 0.5px solid rgb(46, 16, 8);
}

/*============CONTAINER============*/
.container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 800px;
    height: 800px;
    background-color: #FF8C61;
    justify-content: center;
    margin: auto;
    box-shadow: 2px 2px 20px 7px  rgba(82, 55, 45, 0.61);
    margin-bottom: 50px;
    border-radius: 25px;
}

.child{
    border: 1px solid rgba(170, 68, 100, 0.692);
    background-color: #ffb9b3;
}