*{
    padding: opx;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    word-spacing: 1.5px;
    font-weight: 900;
}

body{
    background-color: #DDFFF7;
}

/*============HEADER============*/
.header{
    margin: 10px auto;
    width: 500px;
}

h1{
    color: #a50000;
}

.heading-1{
    margin: 10px auto;
    text-align: center;
}

.clear-button, .choose-button{
    margin: 15px auto;
    outline: none;
    text-align: center;
}

.clear-button button{
    position: relative;
    right: -99px;
    top: 17px;
}

.choose-button button{
    width: 150px;
    position: relative;
    top: -28px;
    right: 117px;
}

button{
    background-color: rgba(218, 196, 247, 0.685);
    height: 30px;
    width: 110px;
    border: 0.5px solid #af00006b;
    border-radius: 15px;
    outline: none;
}

button:hover, button:active{
    background-color: #a50000c0;
    color: blanchedalmond;
    transition: 0.5s;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
}

/*============CONTAINER============*/
.container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 800px;
    height: 800px;
    background-color: #FF8C61;
    justify-content: center;
    margin: auto;
    box-shadow: 2px 2px 20px 7px  rgba(82, 55, 45, 0.397);
    margin-bottom: 50px;
}

.child{
    border: 1px solid rgba(170, 68, 100, 0.692);
    background-color: rgba(255, 166, 158, 0.664);
}